[language-server.sql-language-server]
command = "sql-language-server"
args = ["up", "--method", "stdio"]

[[language]]
name = "sql"
language-servers = [ "sql-language-server" ]
formatter = { command= "sqlfluff lint" }

[[language]]
name = "groovy"
language-servers = [ "groovy-language-server" ]
formatter = { command = "prettier --write jenkinsfile" }

[language-server.groovy-language-server]
command = "java -jar ~/.config/helix/groovy-language-server/build/libs/groovy-language-server-all.jar"

[[language]]
name = "go"
auto-format = true
formatter = { command = "gofumpt" }

[language-server.gopls]
command = "gopls"
args = ["-logfile=/tmp/gopls.log",  "serve"]

[language-server.gopls.config]
"ui.diagnostic.staticcheck" = true
"formatting.gofumpt" = true
completeUnimported = true

[[language]]
name = "python"
language-servers = [ "pyright", "ruff" ]

[language-server.pyright.config.python.analysis]
typeCheckingMode = "basic"

[language-server.ruff]
command = "ruff-lsp"

[language-server.ruff.config.settings]
args = ["--ignore", "E501"]

[language.formatter]
command = "black"
args = ["--line-length", "88", "--quiet", "-"]
